.container {
    margin-top: 50px;
  }
  
  .product-card {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-card.product-price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-card.product-quantity {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-card mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card mat-button {
    width: 100%;
  }