.dialog-title {
    color: #333; 
    font-size: 1.5rem; 
    margin-bottom: 10px;
  }
  
  
  .mat-icon {
    font-size: 3rem; 
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 50%;
  }
  
  mat-dialog-content {
    color: #555; 
    font-size: 1rem; 
  }
  