<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="checkout-section" [ngClass]="{'disabled-section': currentStep !== 'shipping'}">
        <h2>Shipping Details</h2>
        <app-shipping-details></app-shipping-details>
      </div>
      <div class="checkout-section" [ngClass]="{'disabled-section': currentStep !== 'payment' || !shippingCompleted}">
        <h2>Payment Details</h2>
        <app-payment-details></app-payment-details>
      </div>
    </div>
    <div class="col-md-4">
      <div class="checkout-section">
        <h2>Order Summary</h2>
        <app-order-summary [finalAmount]="finalAmount"></app-order-summary>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button color="primary" (click)="proceedToPayment()" [ngClass]="{'disabled': !shippingCompleted || !paymentCompleted}">Proceed to Payment</button>
    </div>
  </div>
</div>
