.navbar{
  margin-bottom: 100px;
  position: fixed;
  top: 0;
  z-index: 30;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


li{
  margin-left: 30px;
  margin-right: 30px;
}

.logout{
  margin-left: 170%;
}

