<mat-toolbar class="navbar" color="primary">
  <div class="nav-items">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    </ul>
  </div>
  <div class="logo">Ekart</div>
  <div class="nav-items">
    <ul class="right-items">
      <li>{{userName}}</li>
      <li class="cart"><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
      <li class="logout" (click)="logout()">Logout</li>
    </ul>
  </div>
</mat-toolbar>
